@import com.paidy.service.ConsumerWithPaymentSummary
@(list: List[ConsumerWithPaymentSummary])

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <h1>Paidy Admin</h1>

            <ul class="nav nav-tabs">
                <li role="presentation"><a href="/consumers/overview">All</a></li>
                <li role="presentation"><a href="/consumers/overview?status=Enabled">Enabled</a></li>
                <li role="presentation"><a href="/consumers/overview?status=Disabled">Disabled</a></li>
            </ul>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>consumer_id</th>
                        <th>consumer_registered_datetime</th>
                        <th>status</th>
                        <th>ltv</th>
                        <th>last_payment_date</th>
                        <th>average_payment_amount</th>
                    </tr>
                </thead>
                <tbody>
                    @for(c <- list) {
                        <tr>
                            <td>@c.consumer.entityId</td>
                            <td>@c.consumer.createdAt.getMillis</td>
                            <td>@c.consumer.status</td>
                            <td>@c.totalAmount.getOrElse(0)</td>
                            <td>@c.lastPaymentAt.map(_.toString("yyyy-mm-dd")).getOrElse("-")</td>
                            <td>@c.averageAmount.getOrElse(0)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </body>
</html>